<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.srm.srm_model.mapper.TenderSupplierMapper">

    <!-- 新增关联 -->
    <insert id="insert" parameterType="com.srm.srm_model.entity.TenderSupplier">
        INSERT INTO tender_supplier (tender_id, supplier_id)
        VALUES (#{tenderId}, #{supplierId})
    </insert>

    <!-- 批量新增关联 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO tender_supplier (tender_id, supplier_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.tenderId}, #{item.supplierId})
        </foreach>
    </insert>

    <!-- 根据招标ID查询 -->
    <select id="selectByTenderId" parameterType="java.lang.Long" resultType="com.srm.srm_model.entity.TenderSupplier">
        SELECT * FROM tender_supplier WHERE tender_id = #{tenderId}
    </select>

    <!-- 根据供应商ID查询 -->
    <select id="selectBySupplierId" parameterType="java.lang.Long" resultType="com.srm.srm_model.entity.TenderSupplier">
        SELECT * FROM tender_supplier WHERE supplier_id = #{supplierId}
    </select>

    <!-- 删除关联 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM tender_supplier WHERE id = #{id}
    </delete>
</mapper>